* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: black;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #000, #222);
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}

.products {
  padding: 60px 20px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: #222;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.about, .contact {
  padding: 60px 20px;
  text-align: center;
  background: #181818;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}
